<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/01/25 18:38:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AribaNetworkSupplierPortal.Initializtion()[pri:0, instance:Testcases.AribaNetworkSupplierPortal@4386f16]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@365181913</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/01/25 18:38:49</td>   <td>6498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AribaNetworkSupplierPortal.AribaNetworkSupplier()[pri:0, instance:Testcases.AribaNetworkSupplierPortal@4386f16]">AribaNetworkSupplier</td> 
  <td>main@365181913</td>   <td></td> </tr>
</table>
